html {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #302f2f;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0px;
    padding: 10px;
    background-color: #222;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.input_and_ast {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
}

textarea {
    width: 450px;
    height: 300px;
    color: white;
    background-color: #5c5c5c;
    border-radius: 5px;
}

.error {
    color: red;
    min-height: 2em;
    background-color: #5c5c5c;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.output {
    display: flex;
    min-height: 5em;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #747474;
}
